* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
  background: url("./images/banner.svg");
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(130deg, #151515, #3c415c, #301b3f);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(45deg, #111d5e, #1b1717);
}
a:-webkit-any-link:hover {
  text-decoration: none;
}
.heading {
  font-family: "Karantina", cursive;
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: #f37121;
}
button {
  background: linear-gradient(45deg, #111d5e, #810000, #1b1717);
  color: white;
  font-size: 1.5rem !important;
  font-weight: 400;
}
